@model IEnumerable<EmployeeManagement.Models.PaymentRule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentRuleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentRuleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentRuleId">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.PaymentRuleId">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentRuleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
